@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

ul {
  list-style: none;
}


.ingredients {
  border: solid 2px;
}


.header {
 display: flex;
 justify-content: center;
 color:  #800000;

}


